

.wrapper {
	width: 70%;
	display: block;
	margin: 0 auto; 
}
.weather-content { 
	width: 30%;
	display: inline-block;
	padding: 10px;
	margin-right: 1%;
	box-shadow: 1px 2px 2px #888888;
    margin-bottom: 1%;
    background-color: $box-color; 
	&::last-child {
		margin-right: 0;
	}
}

article {
	text-align: center;
	position: relative;
	.col-1 {
		width: 32.5%;
		text-align: left;
		display: inline-block;
		vertical-align: baseline; 
		h3 {
			font-size: 17px;
			color: $blackfont-color;
			font-weight: bold;
		}
	}
	.col-2 {
		width: 32.5%;
		display: inline-block;
		vertical-align: baseline;
		h2 {
			color: $blackfont-color;
			font-weight: bold;
			font-size: 24px;
		}
	}
	.col-3 {
		width: 32.5%;
		display: inline-block;
		vertical-align: baseline;
		text-align: right;
	}
	&::last-child {
		margin-right: 0;
	}
	span {	
		color: $grey-color;
		font-size: 11px;
		font-weight: bold;
		display: block;
	}
	.remove {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 7px;
		right: 2px;
		cursor: pointer;
		span {
			width: 100%;
			height: 2px;
			background-color: black;
			position: absolute;
			transform: rotate(45deg);
			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}
}
.weather-list {
	width: 100%;
}

@media all and(max-width: 1475px) {
	.wrapper {
		width: 90%;
	}		
	article {
		.col-1 {
			width: 30%;
		}
	}
}
@media all and(max-width: 1140px) {
	.weather-content {
		width: 29%;
	}
}
@media all and(max-width: 876px) {
	.weather-list {
		text-align: center;
		&:last-child {
			margin-bottom: 10px;
		}
		&:first-child {
			margin-top: 10px;
		}
		.weather-content {
			width: 70%;
			display: inline-block;
			margin: 2px 0;
		}
	}
}
@media all and(max-width: 550px) {
	.weather-list {
		.weather-content {
			width: 90%;
		}
	}
}