
header {
	width: 100%;
	padding: 50px 0;
	background-color: $header-color;
	margin-bottom: 1%;
	h1 {
		text-align: center;
		color: $box-color;
	}
	.weather-search {
		text-align: center;
		color: $box-color;
		input {
			width: 50%;
			margin: 20px 0;
			background-color: #828b95;
			padding: 10px 5px;
			font-size: 14px;
			font-weight: bold;
			color: $box-color;
			border: 0;
			&:focus {
				outline: none;
			}
		}
		button {
			display: block;
			background-color: $header-color;
			color: $box-color;
			border: 1px solid $box-color;
			margin: 0 auto;
			padding: 5px;
			font-size: 14px;
			font-weight: bold;
			transition: all 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $box-color;
				color: $header-color;
				border: 1px solid $box-color;
			}
		}
		.found {
			margin-top: 15px;
			font-size: 14px;
			display: inline-block;
		}
	}
}
@media all and(max-width: 600px) {
	header  {
		h1 {
			font-size: 22px;
		}
		.weather-search {
			input {
				width: 80%;
			}
			button {
				&:hover {
					background-color: $header-color;
					color: $box-color;
					border: 1px solid $box-color;
				}
			}
		}
	}
}