.wrapper {
  width: 70%;
  display: block;
  margin: 0 auto; }

.weather-content {
  width: 30%;
  display: inline-block;
  padding: 10px;
  margin-right: 1%;
  -webkit-box-shadow: 1px 2px 2px #888888;
          box-shadow: 1px 2px 2px #888888;
  margin-bottom: 1%;
  background-color: #ffffff; }
  .weather-content::last-child {
    margin-right: 0; }

article {
  text-align: center;
  position: relative; }
  article .col-1 {
    width: 32.5%;
    text-align: left;
    display: inline-block;
    vertical-align: baseline; }
    article .col-1 h3 {
      font-size: 17px;
      color: #4c5766;
      font-weight: bold; }
  article .col-2 {
    width: 32.5%;
    display: inline-block;
    vertical-align: baseline; }
    article .col-2 h2 {
      color: #4c5766;
      font-weight: bold;
      font-size: 24px; }
  article .col-3 {
    width: 32.5%;
    display: inline-block;
    vertical-align: baseline;
    text-align: right; }
  article::last-child {
    margin-right: 0; }
  article span {
    color: #878d92;
    font-size: 11px;
    font-weight: bold;
    display: block; }
  article .remove {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 7px;
    right: 2px;
    cursor: pointer; }
    article .remove span {
      width: 100%;
      height: 2px;
      background-color: black;
      position: absolute;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
      article .remove span:last-child {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }

.weather-list {
  width: 100%; }

@media all and (max-width: 1475px) {
  .wrapper {
    width: 90%; }
  article .col-1 {
    width: 30%; } }

@media all and (max-width: 1140px) {
  .weather-content {
    width: 29%; } }

@media all and (max-width: 876px) {
  .weather-list {
    text-align: center; }
    .weather-list:last-child {
      margin-bottom: 10px; }
    .weather-list:first-child {
      margin-top: 10px; }
    .weather-list .weather-content {
      width: 70%;
      display: inline-block;
      margin: 2px 0; } }

@media all and (max-width: 550px) {
  .weather-list .weather-content {
    width: 90%; } }

header {
  width: 100%;
  padding: 50px 0;
  background-color: #646e7b;
  margin-bottom: 1%; }
  header h1 {
    text-align: center;
    color: #ffffff; }
  header .weather-search {
    text-align: center;
    color: #ffffff; }
    header .weather-search input {
      width: 50%;
      margin: 20px 0;
      background-color: #828b95;
      padding: 10px 5px;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      border: 0; }
      header .weather-search input:focus {
        outline: none; }
    header .weather-search button {
      display: block;
      background-color: #646e7b;
      color: #ffffff;
      border: 1px solid #ffffff;
      margin: 0 auto;
      padding: 5px;
      font-size: 14px;
      font-weight: bold;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      cursor: pointer; }
      header .weather-search button:hover {
        background-color: #ffffff;
        color: #646e7b;
        border: 1px solid #ffffff; }
    header .weather-search .found {
      margin-top: 15px;
      font-size: 14px;
      display: inline-block; }

@media all and (max-width: 600px) {
  header h1 {
    font-size: 22px; }
  header .weather-search input {
    width: 80%; }
  header .weather-search button:hover {
    background-color: #646e7b;
    color: #ffffff;
    border: 1px solid #ffffff; } }
